* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/background-pattern-desktop.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Work Sans';
}

main {
    background-color: white;
    width: 500px;
    padding: 2rem;
}